@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

html {
    font-size: 1.5vw; /* now use REM to responsivity */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 425px) {
    html {
        font-size: 3vw;
    }
}

body {
    padding-top: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5vh;
}

.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.navbar-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row nowrap;
}

.navbar-list-item a {
    display: inline-block;
    padding: 2vh 2vw;
    text-align: center;
    font-family: 'DM Sans';
    font-weight: 500;
    color: "#666666";
    text-decoration: none;
    font-size: 1rem;
}

.navbar-sociallist {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row nowrap;
}

.navbar-sociallist-item a {
    display: inline-block;
    padding: 2vh 1vw;
    text-align: center;
    font-size: 1.2rem;
}

.home {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 75vh;
}

.home-image {
    height: 25vw;
    width: 25vw;
    object-fit: cover;
    border-radius: 50%;
}

.footer-top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.footer-top-infolist {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row nowrap;
}

.footer-top-infolist-item a {
    display: inline-block;
    padding: 2vh 1vw;
    text-align: center;
    font-size: 1rem;
}

.footer-bottom {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}