/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.banner {
  display: flex;
  min-height: 80vh;
}

.banner__avatar {
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .banner {
    flex-direction: column-reverse;
    align-items: center;

    justify-content: space-evenly;
    text-align: center;
  }

  .banner__avatar {
    width: 70%;
    height: auto;
  }
}
