/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.banner {
  min-height: 80vh;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.banner__avatar {
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .banner {
    text-align: center;

    flex-flow: column-reverse nowrap;
    align-items: center;
    justify-content: space-evenly;
  }

  .banner__avatar {
    width: 70%;
    height: auto;
  }
}
